<div ng-init="refresh()" class="row">
	<div class="col-md-6">
		<div >
			<div class="row" ng-repeat="imgdata in images track by $index" >
				<img ng-src="{{imgdata}}"/>
			</div>
		</div>
		 
	</div>
	<div class="col-md-5">
		 
		<div >
			<div class="row" ng-repeat="imgdata in zhImages track by $index" >
				<img ng-src="{{imgdata}}"/>
			</div>
		</div>
	</div>
	<div class="col-md-1">
		<div class="row">
			<h3> Locale </h3>
			<div class="btn btn-default" ng-click="SaveConfig()">
				 Save Config
			</div>

			<h3> Title </h3>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.titleImage.enable">
				titleImage
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.titleLabel.enable">
				titleLabel
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.address.enable">
				address
			</label>
			<h3> Header </h3>
			<label class="checkbox">
				<input type="checkbox" disabled ng-model="config.orderID.enable">
				order id (required)
			</label>
			<label class="checkbox">
				<input type="checkbox" disabled ng-model="config.storeName.enable">
				storeName
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.Date.enable">
				Date
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.employer.enable">
				Cashier
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.customerName.enable">
				customerName
			</label>
			<div class="row">
				<h3> productLine (suggest 5 fields at most) </h3>
				<label class="checkbox">
					<input type="checkbox" disabled ng-model="config.productLine_productId.enable">
					Code(required)
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="config.productLine_standPrice.enable">
					standPrice
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="config.productLine_price.enable">
					sales price
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="config.productLine_quantity.enable">
					quantity
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="config.productLine_lineDiscountPercentage.enable">
					Line Discount Percentage
				</label>
				<label class="checkbox">
					<input type="checkbox" ng-model="config.productLine_lineDiscount.enable">
					Line Discount 
				</label>
				<label class="checkbox">
					<input type="checkbox" disabled ng-model="config.productLine_lineTotal.enable">
					line total (Required)
				</label>
			</div>

			<h3> Document Total </h3>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.subTotal.enable">
				Total Before Discount
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.preTaxSum.enable">
				Total After Discount
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.discountSum.enable">
				Discount Amount
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.discountPercentage.enable">
				Discount Percentage
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.tax.enable">
				VAT 
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.finalSum.enable">
				Document Total
			</label>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.paymentMethod.enable">
				paymentMethod 
			</label>
			<h3> Footer  </h3>
			<label class="checkbox">
				<input type="checkbox" ng-model="config.annotation.enable">
				Footer Remark

				<div class="row" ng-repeat="data in config.annotation.content track by $index" >
					<input ng-model="config.annotation.content[$index]" maxlength="40">
					</input>
				</div>

				<div class="row">
					 {{config.annotation.content | json}}
				</div>

				
			</label>
		</div>
	</div>
</div>